:root {
  --green-100: #28430a;
  --green-200: #507b00;
  --green-400: #95c22b;
  --green-500: #a7d930;
  --brown-200: #7b4425;
}

#root {
  margin-top: 25px;
  background: var(--green-100);
  height: calc(100vh - 25px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  width: 100%;
  background: var(--green-200);
  display: flex;
  align-items: center;
  padding-left: 5px;

  .link {
    color: white;
    margin-right: 10px;

    &_active {
      text-decoration: underline;
    }
  }
}
